{% extends "auth_base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="h-screen flex flex-col lg:flex-row">
  <div class="flex w-full lg:w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 justify-around items-center p-6">
    <div class="text-center lg:text-left">
      <h1 class="text-white font-bold text-4xl">Tourda</h1>
      <p class="text-white text-lg opacity-80">Join the platform</p>
      <p class="text-white text-lg sm:text-xl opacity-80">Unlock tournament insights</p>
      <p class="text-white text-lg sm:text-xl opacity-80">Effortless data management</p>
      <p class="text-white text-lg sm:text-xl opacity-80">Game data, simplified</p>
          <p class="text-white text-lg sm:text-xl opacity-80">Analyze, organize, engage </p>
    </div>
  </div>

  <div class="flex w-full lg:w-1/2 justify-center items-center bg-white p-6">
    <form class="w-full max-w-sm space-y-4" action="{{ url_for('auth.signup') }}" method="POST">
      <h1 class="text-gray-800 font-bold text-2xl mb-4">Sign Up!</h1>

      <input name="username" type="text" required placeholder="Username"
             class="w-full border-2 border-gray-300 rounded-2xl py-2 px-3 outline-none"/>

      <input name="email" type="email" required placeholder="Email Address"
             class="w-full border-2 border-gray-300 rounded-2xl py-2 px-3 outline-none"/>

      <input name="password" type="password" required placeholder="Password"
             class="w-full border-2 border-gray-300 rounded-2xl py-2 px-3 outline-none"/>

      <button type="submit"
              class="w-full bg-indigo-600 py-2 rounded-2xl text-white font-semibold">
        Sign Up
      </button>

      <p class="text-center text-sm">Already registered?
        <a href="{{ url_for('auth.login') }}" class="text-blue-500">Sign-in here</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
